<div id="create" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Dodaj kolo lige</h1>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="form-group col-md-12">
                        <label>Naziv</label>
                        <input type="text" class="form-control" ng-model="::rounds.modal.name">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Status</label>
                        <br>
                        <label class="radio-inline">
                            <input type="radio" class="pull-right" ng-checked="rounds.modal.opened === true" ng-click="rounds.modal.opened = true">
                            <span>Otvoreno</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" class="pull-right" ng-checked="rounds.modal.opened === false" ng-click="rounds.modal.opened = false">
                            <span>Zatvoreno</span>
                        </label>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Tip</label>
                        <br>
                        <label class="radio-inline">
                            <input type="radio" 
                                    class="pull-right" 
                                    ng-checked="rounds.modal.type.id === 1"
                                    ng-click="rounds.modal.type.id = 1; rounds.modal.type.type = 'online';">
                            <span>Online</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                    class="pull-right"
                                    ng-checked="rounds.modal.type.id === 2"
                                    ng-click="rounds.modal.type.id = 2; rounds.modal.type.type = 'physical';">
                            <span>Fizičko</span>
                        </label>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Google Sheets (raspored):</label>
                        <input type="text" class="form-control" ng-model="::rounds.modal.googleSheets">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Google Sheets (bodovanje):</label>
                        <input type="text" class="form-control" ng-model="::rounds.modal.googleSheets2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" data-dismiss="modal" ng-click="rounds.createData()">Spremi</button>
            </div>
        </div>
    </div>
</div>