<div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title" ng-bind="rounds.modal.name"></h1>
            </div>
            <div class="modal-body">
                <form class="row" name="roundsForm">
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group" ng-class="{'has-error': roundsForm.name.$invalid}">
                                <label>Naziv</label>
                                <input type="text" name="name" class="form-control" ng-model="::rounds.modal.name" required>
                            </div>
                            <div class="col-md-6">
                                <label>Status</label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" class="pull-right" ng-checked="rounds.modal.opened === true" ng-click="rounds.modal.opened = true">
                                    <span>Otvoreno</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" class="pull-right" ng-checked="rounds.modal.opened === false" ng-click="rounds.modal.opened = false">
                                    <span>Zatvoreno</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Google Sheets (raspored):</label>
                        <input type="text" class="form-control" ng-model="::rounds.modal.googleSheets">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Google Sheets (bodovanje):</label>
                        <input type="text" class="form-control" ng-model="::rounds.modal.googleSheets2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" data-dismiss="modal" ng-click="rounds.postData()" ng-disabled="roundsForm.$invalid">Spremi</button>
            </div>
        </div>
    </div>
</div>