<div class="competitors jumbotron">
    <div class="header">
        <h1>Natjecatelji</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="userCompetitors.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item"
             ng-repeat="filter in ::userCompetitors.filters"
             ng-class="{ active: userCompetitors.sortType === filter.key }"
             ng-click="reverse = userCompetitors.sortType === filter.key ? !reverse : false; userCompetitors.sortBy(filter.key, reverse)">
            <span ng-bind="::filter.name"></span>
            <i class="glyphicon glyphicon-chevron-{{reverse ? 'up' : 'down'}}"></i>
        </div>
    </div>
    <hr>
    <div class="body">
        <p class="button button-header">
            <a class="btn btn-primary btn-md btn-block"
               data-toggle="modal"
               data-target="#create-competitor">
                Dodaj natjecatelja +
            </a>
        </p>
        <div class="row body-item"
             ng-repeat="competitor in userCompetitors.data | limitTo: userCompetitors.config.paginationItemsLimit : ((userCompetitors.page - 1) * userCompetitors.config.paginationItemsLimit) | filter: userCompetitors.search.name">
             <div class="row">
                <h2 class="col-md-10 col-xs-9">
                    <span ng-bind="competitor.name"></span>
                    <span ng-bind="competitor.lastname"></span>
                    <i class="glyphicon glyphicon-{{ competitor.approved ? 'ok' : 'exclamation' }}-sign icon-status"
                        ng-class="{ 'icon-status-ok': competitor.approved }">
                    </i>
                </h2>
                <p class="button col-md-2 col-xs-3">
                    <a class="btn btn-primary btn-md btn-block"
                       data-toggle="modal"
                       data-target="#edit-competitor"
                       ng-click="userCompetitors.updateUserData(competitor.id)">
                       Uredi
                    </a>
                </p>
             </div>
             <div class="row">
                <div class="col-md-1">
                    <strong>Razred:</strong>
                    <p ng-bind="competitor.class + '.'"></p>
                </div>
                <div class="col-md-1">
                    <strong>Spol:</strong>
                    <p ng-bind="competitor.sex"></p>
                </div>
                <div class="col-md-2">
                    <strong>Datum rođenja:</strong>
                    <p ng-bind="competitor.birthdate | date: 'MM.dd.yyyy'"></p>
                </div>
                <div class="col-md-2">
                    <strong>Dobna skupina</strong>
                    <p ng-bind="competitor.ageGroup.displayName || '-'"></p>
                </div>
             </div>
        </div>
        <cml-pagination ng-if="userCompetitors.page"
                        total="userCompetitors.data.length"
                        page="userCompetitors.page">
        </cml-pagination>
    </div>
    <!--Modal Edit-->
    <modal template-path="app/components/user/competitors/modals/edit.html"
           id="edit-competitor">
    </modal>

    <!--Modal Create-->
    <modal id="create-competitor"
           template-path="app/components/user/competitors/modals/create.html">
    </modal>
</div>