.filter {
    .filter-item {
        float: left;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        color: $color-text-primary;
        cursor: pointer;

        &.active i {
            color: $color-text-important;
        }

        &:hover {
            color: $color-text-important-faded;
        }
    }

    .filter-item i {
        padding: 0 2px;
        font-size: 10px;
    }
}