.cml-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cml-loader .loader-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: url('assets/images/loader.gif') 50% 50%;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}