.modal {
    h1.modal-title {
        color: $color-text-important;
        font-size: 26px;
        font-weight: 500;
    }

    .form-group label {
        color: $color-text-important;
    }

    .form-group.has-error label {
        color: #a94442;
    }

    .modal-header {
      .close {
        font-size: 32px;
      }
    }

    .modal-footer {
        padding-top: 0;
        border-top: 0;
    }

    .modal-footer button {
        padding-left: 40px;
        padding-right: 40px;
    }
}