.notify {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 1050;

  strong {
    text-transform: capitalize;
  }

  .alert-warning {
    background: #FFD3D4;
    border:#523734 solid 1px;
  }

  .alert-success {
    background: #D4FECC;
    border:#8DA485 solid 1px;
  }

  .alert-info {
    background: #BFEAFA;
    border:#568695 solid 1px;
  }

  .alert-danger {
    background: #FDFCC7;
    border:#BDBD90 solid 1px;
  }
}