.pagination {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    li > a,
    li > span {
       color: $color-text-important;
       cursor: pointer;

       &:hover {
           color: $color-text-important;
       }
    }

    li > a.active {
        background: #ccc;
    }
}