.support {
    position: fixed;
    top: 70%;
    left: 0;
    width: 175px;
    padding: 0 10px;
    line-height: 40px;
    background-color: $support-color-back;
    color: #fff;
    cursor: pointer;
    transform: translateX(-80%);
    transition: transform 0.2s linear;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    i {
        position: absolute;
        right: 0;
        padding: 0 11px;
        line-height: 40px;
        background-color: rgba(#000, 0.1);
    }

    &:hover {
        transform: translateX(0);
    }
}