<div id="online" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title pull-left spacer-right-50" ng-bind="userRounds.modal.name"></h1>
                <div class="physical-age-item"
                     ng-click="userRounds.modal.selectedAgeGroup = 1"
                     ng-class="{ 'active': userRounds.modal.selectedAgeGroup === 1 }">
                     Mlađa skupina
                </div>
                <div class="physical-age-item"
                     ng-click="userRounds.modal.selectedAgeGroup = 2"
                     ng-class="{ 'active': userRounds.modal.selectedAgeGroup === 2 }">
                     Starija skupina
                </div>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="form-group col-md-6">
                        <label>Dodaj učenika</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pretraga" ng-model="competitorSearch">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                        <ul class="list-group"
                            ng-if="userRounds.modal.selectedAgeGroup === 1">
                            <li class="list-group-item"
                                ng-repeat="competitor in userRounds.competitors | filter: { selected: false, ageGroup: { id: 1 } } | filter: competitorSearch" >
                                <span ng-bind="::competitor.name"></span>
                                <span ng-bind="::competitor.lastname"></span>
                                <button type="button"
                                        class="btn btn-primary borderless btn-xs pull-right"
                                        ng-click="userRounds.addCompetitor(competitor, 1)">
                                        <i class="fa fa-plus"></i>
                                 </button>
                            </li>
                        </ul>
                        <ul class="list-group"
                            ng-if="userRounds.modal.selectedAgeGroup === 2">
                            <li class="list-group-item"
                                ng-repeat="competitor in userRounds.competitors | filter: { selected: false } | filter: competitorSearch" >
                                <span ng-bind="::competitor.name"></span>
                                <span ng-bind="::competitor.lastname"></span>
                                <button type="button"
                                        class="btn btn-primary borderless btn-xs pull-right"
                                        ng-click="userRounds.addCompetitor(competitor, 2)">
                                        <i class="fa fa-plus"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Prijavljeni</label>
                        <ul class="list-group"
                            ng-if="userRounds.modal.selectedAgeGroup === 1">
                            <li class="list-group-item"
                                ng-repeat="competitor in (userRounds.modal.selectedYoungerCompetitors | filter: { selected: true })">
                                <span ng-bind="::competitor.name"></span>
                                <span ng-bind="::competitor.lastname"></span>
                                <button type="button"
                                        class="btn btn-primary borderless btn-xs pull-right"
                                        ng-click="userRounds.removeCompetitor(competitor, 1)">
                                        <i class="fa fa-times"></i>
                                </button>
                            </li>
                            <div class="alert alert-info"
                                 role="alert"
                                 ng-if="!userRounds.modal.selectedYoungerCompetitors.length">
                                 Dodajte najviše 2 natjecatelja za natjecanje!
                            </div>
                        </ul>
                        <ul class="list-group"
                            ng-if="userRounds.modal.selectedAgeGroup === 2">
                            <li class="list-group-item"
                                ng-repeat="competitor in (userRounds.modal.selectedOlderCompetitors | filter: { selected: true })">
                                <span ng-bind="::competitor.name"></span>
                                <span ng-bind="::competitor.lastname"></span>
                                <button type="button"
                                        class="btn btn-primary borderless btn-xs pull-right"
                                        ng-click="userRounds.removeCompetitor(competitor, 2)">
                                        <i class="fa fa-times"></i>
                                </button>
                            </li>
                            <div class="alert alert-info"
                                 role="alert"
                                 ng-if="!userRounds.modal.selectedOlderCompetitors.length">
                                 Dodajte najviše 2 natjecatelja za natjecanje!
                            </div>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button title="{{modal}}" type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" data-dismiss="modal" ng-click="userRounds.update()">Spremi</button>
            </div>
        </div>
    </div>
</div>