html,
body {
    height: 100%;
}

body {
    padding-top: 70px;
    background-color: #eee;
}

footer {
    color: #d1d1d1;
    background-color: #323232;
    background: #323232 url($path-assets + 'images/footer-cover.png') no-repeat center;

    .container {
        padding-bottom: 40px;
    }

    .footer-logo {
        display: block;
    }

    .foot-col-left {
        padding-left: 70px;
    }
    
    .copyright {
        margin-top: -40px;
        height: 40px;
        line-height: 40px;
        color: #a3baa6;
        background-color: #1c1c1c;
        font-size: 12px;
    }

    p {
        margin-bottom: 0;
    }

    h4 {
        margin-top: 0;
    }

    .socials a i {
        margin-top: 5px;
        margin-right: 3px;
        font-size: 25px;
        color: #a3baa6;
        cursor: pointer;
        transition: opacity 0.2s linear;

        &:hover {
            opacity: 0.65;
        }
    }
}

.base-header {
    background-color: #fff;

    .navbar-nav>li.active a {
        color: $color-text-important !important;
        background-color: inherit !important;
    }

    .navbar-brand {
        padding: 5px 10px;
    }
}

.main-container {
    min-height: 100%;
    padding-bottom: 40px;
}

.main-container .jumbotron {
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);

    .row {
        margin: 0;
    }

    .modal .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .header {
        padding: 10px;
    }

    .header .row {
        padding: 10px 0;
    }

    .body {
        padding: 5px 0;
        color: $color-text-primary;
        background-color: #f4f4f4;
    }

    .body-item {
        margin: 5px;
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    }

    h1, h2 {
        color: $color-text-important;
        margin: 0;
    }

    h1 {
        font-weight: 500;
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    hr {
        margin: 0;
    }

    p {
        margin-bottom: 3px;
        font-size: 14px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.forgot-password {
  color: $color-text-primary;
}