.competitors {
    .row-item-header {
        color: $color-text-important;
    }

    h2.subtitle {
        font-size: 20px;
    }

    i.icon-status {
        font-size: 18px;

        &.icon-status-ok {
            color: #74e452;
        }
    }
}