.home {
    h1 {
        color: $color-text-important;
        font-size: 36px;
    }

    p {
        color: $color-text-primary;
        font-size: 18px;
    }

    .spacer {
        height: 100px;
    }

    .button {
        margin: 30px 0;
    }

    .picture-front {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 650px)  {
    .picture-front {
        width: 300px;
        height: 300px;
    }
}