.button-header {
  margin: 0 5px;
}
.dropzone {
  height : 400px;
  background: #eeeeee;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
 
  &.registration {
    height: 200px;
  }

  i {
    font-size: 50px;
  }


  .img-box {
    position: relative;
    height: 150px;
    width: 24%;
    margin: 0.5%;
    overflow: hidden;
    float: left;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);

    &.registration {
      height: 97%;
      width: 99%;
    }

    @media (max-width: 992px) {
      & {
        width: 48%;
        margin: 0.5%;
      }
    }
  }

  .file-name {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
  }

  .upload-instructions {
    margin: 0;
    padding: 0;
    font-size: 26px;
  }
}