.rounds {
    .button-header {
        margin: 0 5px;
    }

    .status-icon {
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 2px;
        background-color: $color-status-offline;
        border-radius: 50%;

        &.online {
            background-color: $color-status-online;
        }
    }

    .button.button-header {
        margin-left: 5px;
        margin-right: 5px;
    }

    .list-group {
        height: 250px;
        overflow-y: auto;
    }
}