<div class="password-reset jumbotron">
    <div class="header">
        <h1>Resetirajte lozinku</h1>
    </div>
    <hr>
    <div class="body">
        <form name="password"
              class="form-group body-item">
            <div class="row">
                <div class="col-md-6">
                    <label>Lozinka</label>
                    <input type="password"
                           name="password"
                           ng-model="passwordReset.password"
                           on-enter="passwordReset.reset()"
                           class="form-control"
                           required/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Ponovite lozinku</label>
                    <input type="password"
                           name="password"
                           ng-model="passwordReset.repeatPassword"
                           on-enter="passwordReset.reset()"
                           class="form-control"
                           required/>
                </div>
            </div>
            <div class="row mt-1">
                <button type="button" class="borderless btn btn-primary pull-right ml-1 mr-1" ng-click="passwordReset.reset()">Resetiraj</button>
                <button type="button" class="borderless btn btn-default pull-right ml-1" ng-click="passwordReset.discard()">Odustani</button>
            </div>
        </form>
    </div>
</div>