<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title" ng-bind="userMentors.modal.name"></h1>
            </div>
            <div class="modal-body">
                <form class="row" name="creationForm">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Ime i prezime</label>
                            <input type="text"
                                   class="form-control"
                                   name="name"
                                   ng-model="::userMentors.modal.name"
                                   on-enter="userMentors.createData()"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email"
                                   class="form-control"
                                   name="email"
                                   ng-model="::userMentors.modal.email"
                                   on-enter="userMentors.createData()"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Telefon</label>
                            <input type="text"
                                   class="form-control"
                                   name="phone"
                                   ng-model="::userMentors.modal.phone"
                                   on-enter="userMentors.createData()"
                                   required>
                        </div>
                        <div class="form-group">
                            <label>Dobna skupina</label>
                            <div class="input-group">
                                <input type="text" 
                                        class="form-control"
                                        name="ageGroupDisplayName"
                                        ng-value="userMentors.modal.ageGroup.displayName"
                                        readonly>
                                <div class="input-group-btn">
                                    <button type="button" 
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-repeat="ageGroup in userMentors.ageGroups">
                                            <a  ng-bind="::ageGroup.displayName"
                                                ng-click="userMentors.modal.ageGroup.displayName = ageGroup.displayName;
                                                            userMentors.modal.ageGroupId = ageGroup.id">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="userMentors.createData()">Spremi</button>
            </div>
        </div>
    </div>
</div>