<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">{{adminMaterials.selectedMaterial.name}}</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-5">
                        <strong>Vidljivost</strong>
                        <div ng-dropdown-multiselect
                             extra-settings="adminMaterials.extraSettings"
                             translation-texts = "adminMaterials.dropdownTranslations"
                             options="adminMaterials.institutions"
                             selected-model="adminMaterials.visibilityList"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <strong>Velicina</strong>
                        <p>{{adminMaterials.getFileSize(adminMaterials.selectedMaterial.size)}}kB</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" data-dismiss="modal" ng-click="adminMaterials.modifyVisibility(adminMaterials.selectedMaterial)">Spremi</button>
            </div>
        </div>
    </div>
</div>