<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">{{adminMaterials.selectedMaterial.name}}</h1>
            </div>
            <div class="modal-body clearfix">
                <div class="form-group col-md-4">
                    <strong >
                        Vidljivost
                    </strong>
                    <div ng-dropdown-multiselect
                         extra-settings="adminMaterials.extraSettings"
                         translation-texts = "adminMaterials.dropdownTranslations"
                         options="adminMaterials.institutions"
                         selected-model="adminMaterials.materialVisibilityDetails">
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <strong>Velicina</strong>
                    <p>{{adminMaterials.getFileSize(adminMaterials.selectedMaterial.size)}}MB</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="adminMaterials.updateMaterialVisibility(adminMaterials.selectedMaterial)">Spremi</button>
            </div>
        </div>
    </div>
</div>