<div class="institutions jumbotron">
    <div class="header">
        <h1>Ustanove</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Regionalni centar" ng-model="institutions.search.regionalCenter">
                    <div class="input-group-btn">
                        <button type="button" 
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="regionalCenter in institutions.regionalCenters">
                                <a ng-if="$index === 0" ng-click="institutions.search.regionalCenter = ''">Sve</a>
                                <div ng-class="{ divider: $index === 0 }"></div>
                                <a ng-bind="::regionalCenter"
                                   ng-click="institutions.search.regionalCenter = regionalCenter;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="institutions.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="button col-md-2">
                <!-- <cml-export data="institutions.data" type="institutions"></cml-export> -->
                <excel-export data="institutions.data" type="institutions"></excel-export>
            </div>
        </div>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item"
             ng-repeat="filter in ::institutions.filters"
             ng-class="{ active: institutions.sortType === filter.key }"
             ng-click="reverse = institutions.sortType === filter.key ? !reverse : false; institutions.sortBy(filter.key, reverse)">
            <span ng-bind="::filter.name"></span>
            <i class="glyphicon glyphicon-chevron-{{reverse ? 'up' : 'down'}}"></i>
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="row body-item"
             ng-repeat="institution in institutions.data | limitTo: institutions.config.paginationItemsLimit : ((institutions.page - 1) * institutions.config.paginationItemsLimit) | filter: institutions.search.name | filter: institutions.search.regionalCenter">
             <div class="row">
                <h2 class="col-md-10 col-xs-9">
                    <span ng-bind="institution.name"></span>
                    <i class="glyphicon glyphicon-{{ institution.user.authorized ? 'ok' : 'exclamation' }}-sign icon-status"
                       ng-class="{ 'icon-status-ok': institution.user.authorized }">
                    </i>
                </h2>
                <p class="button col-md-2 col-xs-3">
                    <a class="btn btn-primary btn-md btn-block"
                    data-toggle="modal"
                    data-target="#edit"
                    ng-click="institutions.updateModalData(institution)">
                    Uredi
                    </a>
                </p>
             </div>
             <div class="row">
                 <div class="col-md-12">
                     <strong>Email korisnika</strong>
                     <p ng-bind="::institution.user.email"></p>
                 </div>
             </div>
             <div class="row">
                <div class="col-md-2">
                    <strong>Id:</strong>
                    <p ng-bind="institution.id"></p>
                    <strong>OIB:</strong>
                    <p ng-bind="institution.oib"></p>
                </div>
                <div class="col-md-3">
                    <strong>Adresa:</strong>
                    <p ng-bind="institution.address"></p>
                    <p ng-bind="institution.postcode + ' ' + institution.city"></p>
                    <p ng-bind="::institution.country"></p>
                </div>
                <div class="col-md-3">
                    <strong>Ravnatelj/direktor</strong>
                    <p ng-bind="institution.director"></p>
                    <p ng-bind="institution.directorEmail"></p>
                    <p ng-bind="institution.directorPhone"></p>
                </div>
                <div class="col-md-3">
                    <strong>Zainteresiran za organizaciju</strong>
                    <p ng-bind="institution.isInterestedInOrganisation ? 'DA' : 'NE'"></p>
                    <strong>Regionalni centar</strong>
                    <p ng-bind="institution.isRegionalCenter ? 'DA' : 'NE' + (institution.regionalCenterName ? ' (' + institution.regionalCenterName + ')' : '')"></p>
                </div>
             </div>
        </div>
        <cml-pagination ng-if="institutions.page"
                        total="institutions.data.length"
                        page="institutions.page">
        </cml-pagination>
    </div>
    <!--Modal-->
    <modal template-path="app/components/admin/institutions/modals/edit.html"></modal>
</div>