<div class="results jumbotron">
    <div class="header">
        <h1>Rezultati</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="results.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="row body-item"
            ng-repeat="result in results.data | orderBy: '-created' | filter: results.search.name">
            <div class="row">
                <h2 class="col-md-12 col-xs-12">
                    <span ng-bind="result.name"></span>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <strong>Link: </strong>
                        <a ng-href="{{ result.link }}"><span ng-bind="result.link"></span></a>
                    </p>
                    <p>
                        <strong>Stvoreno: </strong>
                        <span ng-bind="result.created | date : 'dd.MM.yyyy'"></span>
                    </p>
                </div>
            </div>
        </div>
        <h2 class="text-center pa-1" ng-if="!results.data.length">
            Lista rezultata je prazna
        </h2>
    </div>
</div>