<div class="col-md-12" ng-if="pages.length > 1">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="Previous" ng-click="handlePageChange(currentPage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-if="startPage !== 1">
                <a aria-label=""
                   ng-click="handlePageChange(1)">
                   1
                </a>
            </li>
            <li ng-if="startPage > 2">
                <a>...</a>
            </li>
            <li ng-repeat="value in pages">
                <a ng-class="{'active': value === page}"
                   ng-click="handlePageChange(value)"
                   ng-bind="value">
                </a>
            </li>
            <li ng-if="endPage !== totalPages && endPage !== totalPages - 1">
                <a>...</a>
            </li>
            <li ng-if="endPage !== totalPages">
                <a aria-label=""
                   ng-click="handlePageChange(totalPages)"
                   ng-bind="totalPages">
                </a>
            </li>
            <li>
                <a aria-label="Next"
                   ng-click="handlePageChange(currentPage + 1)">
                   <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>