<div class="jumbotron">
    <div class="header">
        <h1>Materijali</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="userMaterials.searchName">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="body">
        <h2 class="text-center pa-1" ng-if="!userMaterials.uploadedMaterials.length">
            Lista materijala je prazna
        </h2>
        <div class="body-item material-item"
             ng-repeat="material in userMaterials.uploadedMaterials | limitTo: userMaterials.config.paginationItemsLimit : ((userMaterials.page - 1) * userMaterials.config.paginationItemsLimit) | filter  : {name: userMaterials.searchName}">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="material-name" ng-bind="::material.name"></h4>
                </div>
                <div class="col-md-2 material-details">
                    <button type="button"
                            class="btn btn-primary borderless pull-right"
                            ng-click="userMaterials.downloadMaterial(material)">
                            Preuzmi
                    </button>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-md-2">
                    <strong>Velicina: </strong>
                    <p ng-bind="::(userMaterials.getFileSize(material.size) + 'MB')"></p>
                </div>
                <!--<div class="col-md-2">
                    <strong>Dobna skupina: </strong>
                    <p>Fali sad</p>
                </div>-->
                <div class="col-md-2">
                    <strong>Objavljeno</strong>
                    <p ng-bind="material.created_at | date : 'dd.MM.yyyy.'"></p>
                </div>
            </div>
        </div>
        <cml-pagination ng-if="userMaterials.page"
            total="userMaterials.uploadedMaterials.length"
            page="userMaterials.page">
        </cml-pagination>
    </div>
</div>