<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="userCompetitors.resetCreateModal();">&times;</button>
                <h1 class="modal-title">
                    <span>Dodaj natjecatelja</span>
                </h1>
            </div>
            <div class="modal-body">
                <form name="userCompetitors.createUserForm"
                    class="row">
                    <div class="form-group col-md-4">
                        <label>Ime</label>
                        <input type="text" 
                            class="form-control" 
                            ng-model="::userCompetitors.newUser.name" 
                            required/>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Prezime</label>
                        <input type="text" 
                            class="form-control" 
                            ng-model="::userCompetitors.newUser.lastname"
                            required />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Spol</label>
                        <br>
                        <label class="radio-inline">
                            <input type="radio"
                                    class="pull-right"
                                    ng-checked="userCompetitors.newUser.sex === 'M'"
                                    ng-click="userCompetitors.newUser.sex = 'M'">
                            <span>M</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                    class="pull-right"
                                    ng-checked="userCompetitors.newUser.sex === 'Ž'"
                                    ng-click="userCompetitors.newUser.sex = 'Ž'">
                            <span>Ž</span>
                        </label>
                    </div>
                    <div class="form-group col-md-9">
                        <label>Datum rođenja</label>
                        <input type="date"
                             class="form-control" 
                             ng-model="::userCompetitors.newUser.birthdate"
                             required />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Razred</label>
                        <input type="number" 
                            class="form-control"
                            ng-model="::userCompetitors.newUser.class"
                            min="1"
                            max="9"
                            required/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Dobna skupina</label>
                        <div class="input-group">
                            <input type="text" 
                                    class="form-control"
                                    name="ageGroupDisplayName"
                                    ng-value="userCompetitors.newUser.ageGroup.displayName"
                                    readonly
                                    required>
                            <div class="input-group-btn">
                                <button type="button" 
                                        class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li ng-repeat="ageGroup in userCompetitors.ageGroups">
                                        <a  ng-bind="::ageGroup.displayName"
                                            ng-click="userCompetitors.newUser.ageGroup.displayName = ageGroup.displayName;
                                                      userCompetitors.newUser.ageGroupId = ageGroup.id">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" ng-click="userCompetitors.resetCreateModal();" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="userCompetitors.createUser();">Spremi</button>
            </div>
        </div>
    </div>
</div>