<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">
                    <span ng-bind="userCompetitors.user.name"></span>
                    <span ng-bind="userCompetitors.user.lastname"></span>
                    <i class="glyphicon glyphicon-{{ userCompetitors.user.approved ? 'ok' : 'exclamation' }}-sign icon-status"
                        ng-class="{ 'icon-status-ok': userCompetitors.user.approved }">
                    </i>
                </h1>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="form-group col-md-4">
                        <label>Ime</label>
                        <input type="text"
                               class="form-control"
                               ng-model="::userCompetitors.user.name"
                               disabled>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Prezime</label>
                        <input type="text"
                               class="form-control"
                               ng-model="::userCompetitors.user.lastname"
                               disabled>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Spol</label>
                        <br>
                        <label class="radio-inline">
                            <input type="radio"
                                    class="pull-right"
                                    ng-checked="userCompetitors.user.sex === 'M'"
                                    ng-click="userCompetitors.user.sex = 'M'"
                                    disabled>
                            <span>M</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                    class="pull-right"
                                    ng-checked="userCompetitors.user.sex === 'Ž'"
                                    ng-click="userCompetitors.user.sex = 'Ž'"
                                    disabled>
                            <span>Ž</span>
                        </label>
                    </div>
                    <div class="form-group col-md-9">
                        <label>Datum rođenja</label>
                        <input type="date"
                               class="form-control"
                               ng-model="::userCompetitors.user.birthdate">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Razred</label>
                        <input type="number"
                               class="form-control"
                               ng-model="::userCompetitors.user.class">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Dobna skupina</label>
                        <div class="input-group">
                            <input type="text" 
                                    class="form-control"
                                    name="ageGroupDisplayName"
                                    ng-value="userCompetitors.user.ageGroup.displayName"
                                    readonly
                                    required>
                            <div class="input-group-btn">
                                <button type="button" 
                                        class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li ng-repeat="ageGroup in userCompetitors.ageGroups">
                                        <a  ng-bind="::ageGroup.displayName"
                                            ng-click="userCompetitors.user.ageGroup.displayName = ageGroup.displayName;
                                                      userCompetitors.user.ageGroupId = ageGroup.id">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="userCompetitors.editUser();">Spremi</button>
            </div>
        </div>
    </div>
</div>