<div class="home">
    <div class="row spacer"></div>
    <div class="row">
        <div class="col-lg-6">
            <h1 ng-bind="home.config.company.homeTitle"></h1>
            <p class="text-justify" ng-bind="::home.config.company.homeText"></p>
            <div class="row">
                <p class="button col-lg-6"
                    ng-if="!home.logged">
                    <a class="btn btn-primary btn-md btn-block"
                       data-target="#register-modal"
                       data-toggle="modal"
                       role="button">
                    Registriraj se</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="picture-front" src="./css/assets/images/pl-600x600.png" alt="Robot 600x600">
        </div>
    </div>
    <div class="row spacer"></div>
    <!--Modal-->
    <modal 
        template-path="app/components/home/modals/register.html"
        id="register-modal">
    </modal>
</div>