<div class="competitors jumbotron">
    <div class="header">
        <h1>Natjecatelji</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Dobna skupina" ng-model="competitors.search.ageGroup">
                    <div class="input-group-btn">
                        <button type="button" 
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="ageGroup in ::competitors.ageGroups">
                                <a ng-if="$index === 0" ng-click="competitors.search.ageGroup = ''">Sve</a>
                                <div ng-class="{ divider: $index === 0 }"></div>
                                <a ng-bind="::ageGroup.displayName"
                                   ng-click="competitors.search.ageGroup = ageGroup.displayName">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="competitors.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="button col-md-2">
                <!-- <cml-export data="competitors.data" type="competitors"></cml-export> -->
                <excel-export data="competitors.data" type="competitors"></excel-export>
            </div>
        </div>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item"
             ng-repeat="filter in ::competitors.filters"
             ng-class="{ active: competitors.sortType === filter.key }"
             ng-click="reverse = competitors.sortType === filter.key ? !reverse : false; competitors.sortBy(filter.key, reverse)">
            <span ng-bind="::filter.name"></span>
            <i class="glyphicon glyphicon-chevron-{{reverse ? 'up' : 'down'}}"></i>
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="row body-item"
             ng-repeat="competitor in competitors.data | limitTo: competitors.config.paginationItemsLimit : ((competitors.page - 1) * competitors.config.paginationItemsLimit) | filter: competitors.search.name | filter:{ ageGroup: { displayName: competitors.search.ageGroup } }">
             <div class="row">
                <h2 class="col-md-10 col-xs-9">
                    <span ng-bind="competitor.name"></span>
                    <span ng-bind="competitor.lastname"></span>
                    <i class="glyphicon glyphicon-{{ competitor.approved ? 'ok' : 'exclamation' }}-sign icon-status"
                       ng-class="{ 'icon-status-ok': competitor.approved }">
                    </i>
                </h2>
                <p class="button col-md-2 col-xs-3">
                    <a class="btn btn-primary btn-md btn-block"
                       data-toggle="modal"
                       data-target="#edit-competitor"
                       ng-click="competitors.updateUserData(competitor.id)">
                       Uredi
                    </a>
                </p>
             </div>
             <div class="row">
                <div class="col-md-1">
                    <strong>Razred:</strong>
                    <p ng-bind="competitor.class + '.'"></p>
                </div>
                <div class="col-md-1">
                    <strong>Spol:</strong>
                    <p ng-bind="competitor.sex"></p>
                </div>
                <div class="col-md-2">
                    <strong>Datum rođenja:</strong>
                    <p ng-bind="competitor.birthdate | date: 'MM.dd.yyyy'"></p>
                </div>
                <div class="col-md-2">
                    <strong>Dobna skupina:</strong>
                    <p ng-bind="competitor.ageGroup.displayName || '-'"></p>
                </div>
             </div>
             <hr class="spacer-10">
             <div class="row spacer-10">
                <h2 class="col-md-10 col-xs-9 subtitle"
                    ng-bind="::competitor.institutionName">
                </h2>
             </div>
             <div class="row spacer-10">
                <div class="col-md-2">
                    <strong>OIB:</strong>
                    <p ng-bind="::competitor.institution.oib"></p>
                </div>
                <div class="col-md-2">
                    <strong>Regionalni centar:</strong>
                    <p ng-bind="competitor.institution.isRegionalCenter ? 'DA' : 'NE' + (competitor.institution.regionalCenterName ? ' (' + competitor.institution.regionalCenterName + ')' : '')"></p>
                </div>
             </div>
             <div class="row">
                 <div class="col-md-2 spacer-10"
                      ng-repeat="mentor in ::competitor.mentors">
                      <strong class="row-item-header" 
                              ng-bind="::mentor.name">
                      </strong>
                      <p ng-bind="::mentor.email"></p>
                      <p ng-bind="::mentor.phone"></p>
                </div>
             </div>
        </div>
        <cml-pagination ng-if="competitors.page"
                        total="competitors.data.length"
                        page="competitors.page">
        </cml-pagination>
    </div>
    <!--Modal-->
    <modal template-path="app/components/admin/competitors/modals/edit.html"
           id="edit-competitor">
    </modal>
</div>