<div class="rounds jumbotron">
    <div class="header">
        <h1>Kola Lige</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Kolo" ng-model="rounds.search.round.name">
                    <div class="input-group-btn">
                        <button type="button" 
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="round in rounds.rounds">
                                <a ng-if="$index === 0" ng-click="rounds.search.round.name = ''">Sve</a>
                                <div ng-class="{ divider: $index === 0 }"></div>
                                <a ng-bind="::round.displayName"
                                   ng-click="rounds.search.round.name = round.displayName">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="rounds.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="button col-md-2">
                <!-- <cml-export data="rounds.data" type="rounds"></cml-export> -->
            </div>
        </div>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item"
             ng-repeat="filter in ::rounds.filters"
             ng-class="{ active: rounds.sortType === filter.key }"
             ng-click="reverse = rounds.sortType === filter.key ? !reverse : false; rounds.sortBy(filter.key, reverse)">
            <span ng-bind="::filter.name"></span>
            <i class="glyphicon glyphicon-chevron-{{reverse ? 'up' : 'down'}}"></i>
        </div>
    </div>
    <hr>
    <div class="body">
        <p class="button button-header">
            <a class="btn btn-primary btn-md btn-block"
               ng-class=" { disabled: rounds.isAnyRoundOpen() }"
               data-toggle="modal"
               data-target="#create"
               ng-click="rounds.updateModalData('create')">
               Dodaj kolo +
            </a>
        </p>
        <div class="row body-item"
            ng-repeat="round in rounds.data | limitTo: rounds.config.paginationItemsLimit : ((rounds.page - 1) * rounds.config.paginationItemsLimit) | filter: rounds.search.name | filter: rounds.search.round.name">
            <div class="row col-md-10">
                <strong ng-bind="round.type.displayName"></strong>
                <h2 ng-bind="round.name"></h2>
            </div>
            <div class="row col-md-2">
                <a class="btn btn-primary btn-md btn-block"
                    data-toggle="modal"
                    data-target="#edit"
                    ng-click="rounds.updateModalData('edit', round)">
                    Uredi
                </a>
                <div class="mt-1">
                    <excel-export data="round" type="rounds"></excel-export>
                </div>
            </div>
            <div class="row col-md-10">
                <div class="col-md-2 pa-0">
                    <strong>Status:</strong>
                    <p>
                        <span ng-bind-template="{{ (round.opened ? 'Otvoreno' : 'Zatvoreno') }}"></span>
                        <span class="status-icon" ng-class="{ online: round.opened }"></span>
                    </p>
                </div>
                <div class="col-md-4">
                    <strong>Google Sheets (raspored):</strong>
                    <p>
                        <a ng-href="{{ ::round.googleSheets }}"
                            ng-attr-title="{{ ::round.googleSheets }}"
                            target="_blank">
                            <span ng-bind="round.googleSheets || '-'"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <strong>Google Sheets (bodovanje):</strong>
                    <p>
                        <a ng-href="{{ ::round.googleSheets2 }}"
                            ng-attr-title="{{ ::round.googleSheets2 }}"
                            target="_blank">
                            <span ng-bind="round.googleSheets2 || '-'"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <cml-pagination ng-if="rounds.page"
                        page="rounds.page"
                        total="rounds.data.length">
        </cml-pagination>
    </div>
    <!--Modal Edit-->
    <modal template-path="app/components/admin/rounds/modals/edit.html"></modal>

    <!--Modal Create-->
    <modal template-path="app/components/admin/rounds/modals/create.html"></modal>
</div>