<div class="support"
     data-toggle="modal"
     data-target="#support">
     <span>Korisnička podrška</span>
     <i class="glyphicon glyphicon-tags"></i>
</div>
<div id="support" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Korisnička podrška</h1>
            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="form-group col-md-12">
                        <label>Vaš Email</label>
                        <input type="text" class="form-control" ng-model="modal.emailFrom">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Naslov poruke</label>
                        <input type="text" class="form-control" ng-model="modal.subject">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Opis poruke</label>
                        <textarea rows="5" class="form-control" ng-model="modal.text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" data-dismiss="modal" ng-click="submit()">Pošalji</button>
            </div>
        </div>
    </div>
</div>