<div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title" ng-bind="mentors.modal.name"></h1>
            </div>
            <div class="modal-body">
                <form class="row" name="mentorsForm">
                    <div class="col-md-3"
                            ng-repeat="mentor in mentors.modal.mentors">
                        <h3>Mentor <span ng-bind="::($index+1)"></span></h3>
                        <div class="form-group" ng-class="{'has-error': mentorsForm['name-' + $index].$invalid}">
                            <label>Ime i prezime</label>
                            <input type="text" name="{{'name-' + $index}}" class="form-control" ng-model="::mentor.name" required>
                        </div>
                        <div class="form-group" ng-class="{'has-error': mentorsForm['email-' + $index].$invalid}">
                            <label>Email</label>
                            <input type="email" name="{{'email-' + $index}}" class="form-control" ng-model="::mentor.email" required>
                        </div>
                        <div class="form-group" ng-class="{'has-error': mentorsForm['phone-' + $index].$invalid}">
                            <label>Broj</label>
                            <input type="text" name="{{'phone-' + $index}}" class="form-control" ng-model="::mentor.phone" required>
                        </div>
                        <div class="form-group">
                                <label>Dobna skupina</label>
                                <div class="input-group">
                                    <input type="text" 
                                            class="form-control"
                                            name="ageGroupDisplayName"
                                            ng-value="mentor.ageGroup.displayName"
                                            readonly>
                                    <div class="input-group-btn">
                                        <button type="button" 
                                                class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                                <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li ng-repeat="ageGroup in ::mentors.ageGroups">
                                                <a  ng-bind="::ageGroup.displayName"
                                                    ng-click="mentor.ageGroup.displayName = ageGroup.displayName;
                                                              mentor.ageGroup.id = ageGroup.id">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" data-dismiss="modal" ng-click="mentors.postData()" ng-disabled="mentorsForm.$invalid">Spremi</button>
            </div>
        </div>
    </div>
</div>