<div id="edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title" ng-bind="results.modal.name"></h1>
            </div>
            <div class="modal-body">
                <form class="row" name="creationForm">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Naziv rezultata</label>
                            <input type="text"
                                class="form-control"
                                name="name"
                                ng-model="::results.modal.name"
                                required>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Link</label>
                            <input type="text"
                                class="form-control"
                                name="link"
                                ng-model="::results.modal.link"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="results.updateData()">Spremi</button>
            </div>
        </div>
    </div>
</div>