<nav class="navbar navbar-default navbar-fixed-top base-header"
     role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle"
                    type="button"
                    data-toggle="collapse"
                    data-target="#nav-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>        
            </button>
            <a href="#" class="navbar-brand">
                <img src="./css/assets/images/logo.png" alt="Spark Kreator Liga" height="40">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="nav-toggle">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in base.ui"
                    ng-class="base.pageClass(menu.url)"
                    class="text-uppercase">
                    <a ng-href="{{ ::menu.url }}"
                       ng-bind="::menu.name"
                       ng-click="base.setActiveClass($index)">
                    </a>
                </li>
            </ul>
            <div class="navbar-form navbar-right form-group">
                <button class="btn btn-primary borderless"
                        ng-if="base.user.logged"
                        ng-click="base.logout()">
                        Odjavi se
                </button>
                <button class="btn btn-primary borderless"
                        ng-if="!base.user.logged"
                        data-target="#login-modal"
                        data-toggle="modal">
                        Prijava
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container main-container">
    <ui-view></ui-view>
</div>
<footer class="footer">
    <div class="container"
         ng-if="('home' | isState)">
        <div class="row spacer-20">
            <div class="col-md-12">
                <a href="#" class="footer-logo pull-left">
                    <img src="./css/assets/images/footer-logo.png" alt="Footer logo">
                </a>
            </div>
        </div>
            <div class="col-xs-7 foot-col-left">
                 <p>SPARK poslovni park d.o.o. Mostar</p>
                 <p>Blajburških žrtava b.b.</p>
                 <p>88000 Mostar</p>
                 <p>Bosna i Hercegovina</p>
            </div>
            <div class="col-xs-5">
                <h4>Kontakt</h4>
                <p><strong>E:</strong> school@spark.ba</p>
                <p><strong>W:</strong> www.spark.ba</p>
                <div class="row socials">
                    <div class="col-xs-12">
                        <a href="http://www.facebook.com/spark.business.park" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="http://twitter.com/SPARKmostar" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                        <a href="https://plus.google.com/b/116076370562327139840/+SPARKbusinessparkMostar/posts" target="_blank">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                        <a href="http://www.linkedin.com/company/spark-business-park" target="_blank">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCyCOtcoDD6Idh4MuR2grgTQ" target="_blank">
                            <i class="fa fa-youtube-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacer-20"></div>
    </div>
    <div class="copyright text-center">SPARK &copy; 2017. Sva prava pridržana.</div>
</footer>

<modal id="login-modal" template-path="app/components/base/modals/login.html"></modal>

<!-- Sticky components -->
<cml-support ng-if="base.isSupportEnabled && base.user.logged"></cml-support>

<!-- Notification directive -->
<cml-notify></cml-notify>

<!-- Circle loader directive -->
<cml-loader></cml-loader>