<div class="materials jumbotron">
    <div class="header">
        <h1>Materijali natjecanja</h1>
    </div>
    <hr>

    <div class="body">
        <div class="body-item clearfix">
            <form class="row">
                <fieldset class="form-group">
                    <div class="col-xs-12">
                        <div class="dropzone text-center"
                             name="files"
                             ng-model="adminMaterials.files"
                             ngf-drop
                             ngf-model-options="{updateOn: 'change drop', allowInvalid: false, debounce: 0}"
                             ngf-multiple="true"
                             ngf-allow-dir="false"
                             ngf-max-size="10MB"
                             ngf-max-files="12"
                             ngf-drag-over-class="'drag-over'">
                            <div ng-if="!adminMaterials.files.length"
                                 class="text-xs-center vertical-align">
                                <i class="glyphicon glyphicon-cloud-upload"></i>
                                <h3 class="upload-instructions">Prinesite datoteku</h3>
                            </div>
                            <div ng-if="adminMaterials.files.length"
                                 ng-repeat="file in adminMaterials.files"
                                 data-toggle="modal"
                                 data-target="#details-material-modal"
                                 ng-click="adminMaterials.setSelectedMaterial(file)"
                                 class="img-box">
                                <img ngf-src="file"
                                     ng-if="adminMaterials.fileIsImg(file)"
                                     ngf-background="file" />
                                <div ngf-src="file"
                                     class="vertical-align file-box"
                                     ng-if="!adminMaterials.fileIsImg(file)"
                                     ngf-background="file">
                                    <i class="glyphicon glyphicon-file"></i>
                                </div>
                                <span class="file-name" ng-if="!adminMaterials.fileIsImg(file)">{{file.name}}</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="col-md-3">
                <button
                        ng-model="adminMaterials.files"
                        type="button"
                        class="btn btn-default borderless"
                        ngf-select
                        ngf-multiple="true"
                        ngf-allow-dir="false"
                        ngf-max-size="10MB"
                        ngf-max-files="12"
                        ngf-drag-over-class="'drag-over'"
                        >
                    Odaberi datoteku
                </button>
            </div>
            <div class="col-md-3 pull-right">
                <button type="button" class="btn btn-primary borderless ml-1 pull-right" ng-click="adminMaterials.uploadMaterial()">Spremi</button>
                <button type="button" class="btn btn-default borderless pull-right" ng-click="adminMaterials.resetMaterials()">Odustani</button>
            </div>
        </div>

        <div class="body-item"
             ng-repeat="material in adminMaterials.uploadedMaterials | limitTo: adminMaterials.config.paginationItemsLimit : ((adminMaterials.page - 1) * adminMaterials.config.paginationItemsLimit)">
            <div class="row">
                <div class="row">
                    <h2 class="col-md-10 col-xs-9">
                        {{material.name}}
                    </h2>
                    <!-- <p class="button col-md-2 col-xs-3">
                        <a class="btn btn-primary btn-md btn-block"
                           ng-click="adminMaterials.setSelectedMaterial(material); adminMaterials.populateDropdown(material);"
                           data-toggle="modal"
                           data-target="#edit-material-modal">
                            Detalji
                        </a>
                    </p> -->
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <strong >
                            Velicina
                        </strong>
                        <p ng-bind="adminMaterials.getFileSize(material.size) + ' MB'"></p>
                    </div>
                    <div class="col-md-2">
                        <strong>Objavljeno</strong>
                        <p ng-bind="::(material.created_at | date: 'dd.MM.yyyy.')"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default borderless" ng-click="adminMaterials.deleteMaterial(material)">Pobrisi</button>
                        <button type="button" class="btn btn-primary borderless ml-1" ng-click="adminMaterials.downloadMaterial(material)">Preuzmi</button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center pa-1" ng-if="!adminMaterials.uploadedMaterials.length">
            Lista materijala je prazna
        </h2>
    </div>
    <cml-pagination ng-if="adminMaterials.page"
        total="adminMaterials.uploadedMaterials.length"
        page="adminMaterials.page">
    </cml-pagination>

    <modal template-path="app/components/admin/materials/modals/edit-material.html"
           id="edit-material-modal">
    </modal>

    <modal template-path="app/components/admin/materials/modals/details-material.html"
           id="details-material-modal">
    </modal>

</div>