<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="home.resetModal()" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Registracija</h1>
            </div>
            <div class="modal-body">
                <form class="row" name="registrationForm">
                    <div class="col-md-12">
                        <div class="alert alert-info"
                            ng-bind="::home.config.company.registerInfo">
                        </div>
                        <div class="form-group">
                            <label>Naziv Ustanove</label>
                            <input type="text"
                                    class="form-control"
                                    name="name"
                                    ng-model="home.data.name"
                                    on-enter="home.register()"
                                    required/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                     <label>Adresa Ustanove</label>
                                     <input type="text"
                                            class="form-control"
                                            name="address"
                                            ng-model="home.data.address"
                                            on-enter="home.register()"
                                            required/>
                                </div>
                                <div class="col-md-4">
                                     <label>ID ustanove</label>
                                     <input type="text"
                                            class="form-control"
                                            name="oib"
                                            ng-model="home.data.oib"
                                            on-enter="home.register()"
                                            required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                        <label>Grad/Mjesto</label>
                                        <input type="text"
                                            class="form-control"
                                            name="city"
                                            ng-model="home.data.city"
                                            on-enter="home.register()"
                                            required/>
                                </div>
                                <div class="col-md-4">
                                        <label>Poštanski broj</label>
                                        <input type="text"
                                            class="form-control"
                                            name="postcode"
                                            ng-model="home.data.postcode"
                                            on-enter="home.register()"
                                            required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Država</label>
                            <div class="input-group">
                                <input type="text"
                                        class="form-control"
                                        name="country"
                                        ng-model="home.data.country"
                                        on-enter="home.register()"
                                        readonly
                                        required/>
                                <div class="input-group-btn">
                                    <button type="button" 
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a ng-bind="::home.data.selectableCountry"
                                               ng-click="home.data.country = home.data.selectableCountry">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ravnatelj/direktor</label>
                            <input type="text"
                                    class="form-control"
                                    name="director"
                                    ng-model="home.data.director"
                                    on-enter="home.register()"
                                    required/>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>E-mail ravnatelja/direktora</label>
                                <input type="text"
                                        class="form-control"
                                        name="directorEmail"
                                        ng-model="home.data.directorEmail"
                                        on-enter="home.register()"
                                        required/>
                            </div>
                            <div class="col-md-6">
                                <label>Telefon ravnatelja/direktora</label>
                                <input type="text"
                                        class="form-control"
                                        name="directorPhone"
                                        ng-model="home.data.directorPhone"
                                        on-enter="home.register()"
                                        required/>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Jeste li zainteresirani za organizaciju fizičkog kola lige (<a href="https://spark.ba/wp-content/uploads/2017/08/Pravila-SPARKREATORS-Lige-20172018.pdf" target="_blank">Pravilnik</a>)</label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio"
                                       class="pull-right"
                                       ng-checked="!!home.data.isInterestedInOrganisation === false"
                                       ng-click="home.data.isInterestedInOrganisation = false">
                                <span>NE</span>
                            </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio"
                                        class="pull-right"
                                        ng-checked="home.data.isInterestedInOrganisation === true"
                                        ng-click="home.data.isInterestedInOrganisation = true">
                                <span>DA</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>User email (korisnik aplikacije, koristite samo gmail račun)</label>
                            <input type="text"
                                    class="form-control"
                                    name="email"
                                    ng-model="home.data.email"
                                    required/>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Lozinka</label>
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       ng-class="{'ng-invalid': home.data.password !== home.data.repeatedPassword}"
                                       ng-model="home.data.password"
                                       on-enter="home.register()"
                                       required/>
                            </div>
                            <div class="col-md-6">
                                <label>Ponovljena lozinka</label>
                                <input type="password"
                                       class="form-control"
                                       name="repeatedPassword"
                                       ng-class="{'ng-invalid': home.data.password != home.data.repeatedPassword}"
                                       ng-model="home.data.repeatedPassword"
                                       on-enter="home.register()"
                                       required/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default borderless" ng-click="home.resetModal()" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="home.register()">Spremi</button>
            </div>
        </div>
    </div>
</div>