<div class="modal fade" role="dialog">
    <div class="modal-dialog"
        ng-show="!base.forgotPassActivated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="base.resetModal()">&times;</button>
                <h1 class="modal-title">Prijava</h1>
            </div>
            <div class="modal-body">
                <form name="loginForm">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email"
                               ng-model="base.email"
                               name="email"
                               class="form-control"
                               on-enter="base.login()"
                               required/>
                    </div>
                    <div class="form-group">
                        <label>Lozinka</label>
                        <input type="password"
                               ng-model="base.password"
                               name="password"
                               class="form-control"
                               on-enter="base.login()"
                               required/>
                    </div>
                </form>
                <hr>
                <p ng-click="base.forgotPassActivated = !base.forgotPassActivated"
                   class="text-center forgot-password pointer">
                   Zaboravili ste lozinku?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary borderless" ng-click="base.login()">Prijava</button>
            </div>
        </div>
    </div>

    <div class="modal-dialog"
         ng-show="base.forgotPassActivated">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="base.resetModal()">&times;</button>
                <h1 class="modal-title">Zaboravili ste lozinku?</h1>
            </div>
            <div class="modal-body">
                <form name="forgotPass">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="text"
                               class="form-control"
                               name="email"
                               ng-model="base.resetEmail"
                               on-enter="base.resetPassword()"
                               required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-default borderless" data-dismiss="modal" ng-click="base.resetModal()">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="base.resetPassword()">Resetiraj</button>
            </div>
        </div>
    </div>
</div>