<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">
                    <span ng-bind="competitors.user.name"></span>
                    <span ng-bind="competitors.user.lastname"></span>
                    <i class="glyphicon glyphicon-{{ competitors.user.approved ? 'ok' : 'exclamation' }}-sign icon-status"
                        ng-class="{ 'icon-status-ok': competitors.user.approved }">
                    </i>
                </h1>
            </div>
            <div class="modal-body">
                <form class="row" name="competitorsForm">
                    <div class="form-group col-md-4" ng-class="{'has-error': competitorsForm.name.$invalid}">
                        <label>Ime</label>
                        <input type="text" name="name" class="form-control" ng-model="::competitors.user.name" required>
                    </div>
                    <div class="form-group col-md-5" ng-class="{'has-error': competitorsForm.lastname.$invalid}">
                        <label>Prezime</label>
                        <input type="text" name="lastname" class="form-control" ng-model="::competitors.user.lastname" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Spol</label>
                        <br>
                        <label class="radio-inline">
                            <input type="radio"
                                    class="pull-right"
                                    ng-checked="competitors.user.sex === 'M'"
                                    ng-click="competitors.user.sex = 'M'">
                            <span>M</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio"
                                    class="pull-right"
                                    ng-checked="competitors.user.sex === 'Ž'"
                                    ng-click="competitors.user.sex = 'Ž'">
                            <span>Ž</span>
                        </label>
                    </div>
                    <div class="form-group col-md-9" ng-class="{'has-error': competitorsForm.birthdate.$invalid}">
                        <label>Datum rođenja</label>
                        <input type="date" name="birthdate" class="form-control" ng-model="::competitors.user.birthdate" required>
                    </div>
                    <div class="form-group col-md-3"  ng-class="{'has-error': competitorsForm.class.$invalid}">
                        <label>Razred</label>
                        <input type="number" name="class" class="form-control" ng-model="::competitors.user.class" min="1" max="9" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Dobna skupina</label>
                        <div class="input-group">
                            <input type="text"
                                    class="form-control"
                                    name="ageGroupName"
                                    ng-value="competitors.user.ageGroup.displayName"
                                    readonly
                                    required/>
                            <div class="input-group-btn">
                                <button type="button" 
                                        class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li ng-repeat="ageGroup in ::competitors.ageGroups">
                                        <a  ng-bind="::ageGroup.displayName"
                                            ng-click="competitors.user.ageGroup.displayName = ageGroup.displayName;
                                                      competitors.user.ageGroup.id = ageGroup.id">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       ng-model="competitors.user.approved">
                                <span>Verificiraj</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" ng-if="competitors.user.approvalDoc" class="btn btn-primary pull-left borderless" ng-click="competitors.downloadDocument(competitors.user.approvalDoc)">Preuzmi dokument</button> -->
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" ng-click="competitors.updateUser()" ng-disabled="competitorsForm.$invalid">Spremi</button>
            </div>
        </div>
    </div>
</div>