<div class="mentors jumbotron">
    <div class="header">
        <h1 ng-bind="::userInstitution.data.name"></h1>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item">
            <strong>OIB: </strong>
            <span ng-bind="::userInstitution.data.oib"></span>
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="row body-item">
            <div class="row">
                <div class="col-md-12">
                    <strong>Adresa:</strong>
                    <p ng-bind="::userInstitution.data.country"></p>
                    <p ng-bind="userInstitution.data.city + ', ' + userInstitution.data.postcode"></p>
                    <p ng-bind="::userInstitution.data.address"></p>
                </div>
            </div>
            <div class="row spacer-20">
                <div class="col-md-12">
                    <strong>Direktor:</strong>
                    <p ng-bind="::userInstitution.data.director"></p>
                    <p ng-bind="::userInstitution.data.directorEmail"></p>
                    <p ng-bind="::userInstitution.data.directorPhone"></p>
                </div>
            </div>
            <div class="row spacer-20">
                <div class="col-md-12">
                    <strong>Regionalni centar:</strong>
                    <p ng-bind="userInstitution.data.isRegionalCenter ? 'DA' : 'NE'"></p>
                </div>
            </div>
            <div class="row spacer-20">
                <div class="col-md-12">
                    <strong>Zainteresiran za organizaiciju fizičkog kola:</strong>
                    <p ng-bind="userInstitution.data.isInterestedInOrganisation ? 'DA' : 'NE'"></p>
                </div>
            </div>
            <div class="row spacer-20">
                <div class="col-md-12">
                    <strong>Naziv pripadajućeg regionalnog centra:</strong>
                    <p ng-bind="userInstitution.data.regionalCenterName || '-'"></p>
                </div>
            </div>
        </div>
    </div>
</div>