<div class="results jumbotron">
    <div class="header">
        <h1>Rezultati</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="results.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="body">
        <p class="button button-header">
            <a class="btn btn-primary btn-md btn-block"
                data-toggle="modal"
                data-target="#create-modal"
                ng-click="results.updateModalData('create')">
                Dodaj rezultat +
            </a>
        </p>
        <div class="row body-item"
            ng-repeat="result in results.data | orderBy: '-created' | filter: results.search.name">
            <div class="row">
                <h2 class="col-md-10 col-xs-9">
                    <span ng-bind="result.name"></span>
                </h2>
                <p class="button col-md-2 col-xs-3">
                    <a class="btn btn-primary btn-md btn-block"
                        data-toggle="modal"
                        data-target="#edit-modal"
                        ng-click="results.updateModalData('edit', result)">
                        Uredi
                    </a>
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <strong>Link: </strong>
                        <a ng-href="{{ result.link }}"><span ng-bind="result.link"></span></a>
                    </p>
                    <p>
                        <strong>Stvoreno: </strong>
                        <span ng-bind="result.created | date : 'dd.MM.yyyy'"></span>
                    </p>
                </div>
            </div>
        </div>
        <h2 class="text-center pa-1" ng-if="!results.data.length">
            Lista rezultata je prazna
        </h2>
    </div>

    <!--Modal Edit-->
    <modal template-path="app/components/admin/results/modals/edit.html"></modal>
    <!--Modal Create-->
    <modal template-path="app/components/admin/results/modals/create.html"></modal>
</div>