<div class="rounds jumbotron">
    <div class="header">
        <h1>Prijave natjecatelja na kola lige</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Kolo" ng-model="userRounds.search.round.name">
                    <div class="input-group-btn">
                        <button type="button" 
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="round in ::userRounds.roundsTypes">
                                <a ng-if="$index === 0" ng-click="userRounds.search.round.name = ''; userRounds.search.round.key = '';">Sve</a>
                                <div ng-class="::{ divider: $index === 0 }"></div>
                                <a ng-bind="::round.displayName"
                                   ng-click="userRounds.search.round.name = round.displayName;
                                             userRounds.search.round.key = round.type;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="userRounds.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item"
             ng-repeat="filter in ::userRounds.filters"
             ng-class="{ active: userRounds.sortType === filter.key }"
             ng-click="reverse = userRounds.sortType === filter.key ? !reverse : false; userRounds.sortBy(filter.key, reverse)">
            <span ng-bind="::filter.name"></span>
            <i class="glyphicon glyphicon-chevron-{{reverse ? 'up' : 'down'}}"></i>
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="row body-item"
            ng-class="{'disabled-row' : !round.opened}"
            ng-repeat="round in userRounds.data | limitTo: userRounds.config.paginationItemsLimit : ((userRounds.page - 1) * userRounds.config.paginationItemsLimit) | filter:{ name: userRounds.search.name, type: { type: userRounds.search.round.key } }">
            <div class="row col-md-10">
                <div class="row">
                    <strong ng-bind-template="{{ ::(round.type.id === 1 ? 'ONLINE' : 'FIZIČKO') }} KOLO"></strong>
                    <h2 ng-bind="round.name"></h2>
                </div>
                <div class="row">
                    <div class="col-md-3 pa-0">
                        <strong>Status:</strong>
                        <p>
                            <span ng-bind-template="{{ (round.opened ? 'Otvoreno' : 'Zatvoreno') }}"></span>
                            <span class="status-icon" ng-class="{ online: round.opened }"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row col-md-2">
                <div ng-if="::round.opened">
                    <p class="button">
                        <a class="btn btn-primary btn-md btn-block"
                            data-toggle="modal"
                            data-target="{{round.type.type === 'online' ? '#online' : '#physical'}}"
                            ng-click="userRounds.updateModalData(round, round.type.id)">
                            Prijava
                         </a>
                    </p>
                </div>
                <div ng-if="::!round.opened">
                    <p class="button">
                        <a class="btn btn-primary btn-md btn-block"
                            href="#/user/materials">
                            Materijali
                        </a>
                    </p>
                    <p class="button"
                        ng-if="::round.googleSheets">
                        <a class="btn btn-primary btn-md btn-block"
                            ng-href="{{ ::round.googleSheets }}"
                            ng-attr-title="{{ ::round.googleSheets }}"
                            target="_blank">
                            <span>Raspored</span>
                        </a>
                    </p>
                    <p class="button"
                        ng-if="::round.googleSheets2">
                        <a class="btn btn-primary btn-md btn-block"
                            ng-href="{{ ::round.googleSheets2 }}"
                            ng-attr-title="{{ ::round.googleSheets2 }}"
                            target="_blank">
                            <span>Bodovanje</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <cml-pagination ng-if="userRounds.page"
                        total="userRounds.data.length"
                        page="userRounds.page">
        </cml-pagination>
    </div>
    <!--Modals-->
    <modal template-path="app/components/user/rounds/modals/online.html"></modal>

    <modal template-path="app/components/user/rounds/modals/physical.html"></modal>
</div>