<button type="button"
        class="btn btn-primary btn-block btn-export-data"
        ng-click="exportData()">
        <span>Excel export</span>
        <i class="glyphicon glyphicon-export"></i>
</button>