<div class="notify">
    <div class="notify-item alert alert-{{ ::item.type }}"
        ng-repeat="item in queue"
        ng-click="close($index)">
        <span ng-bind="::item.info"></span>
    </div>
</div>