<div class="mentors jumbotron">
    <div class="header">
        <h1>Mentori</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="mentors.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-7"></div>
            <div class="button col-md-2">
                <!-- <cml-export data="mentors.data" type="mentors"></cml-export> -->
                <excel-export data="mentors.data" type="mentors"></excel-export>
            </div>
        </div>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item"
             ng-repeat="filter in ::mentors.filters"
             ng-class="{ active: mentors.sortType === filter.key }"
             ng-click="reverse = mentors.sortType === filter.key ? !reverse : false; mentors.sortBy(filter.key, reverse)">
            <span ng-bind="::filter.name"></span>
            <i class="glyphicon glyphicon-chevron-{{reverse ? 'up' : 'down'}}"></i>
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="row body-item"
             ng-repeat="institution in mentors.data | limitTo: mentors.config.paginationItemsLimit : ((mentors.page - 1) * mentors.config.paginationItemsLimit) | filter: mentors.search.name">
             <div class="row">
                <h2 class="col-md-10 col-xs-9"
                    ng-bind="::institution.name">
                </h2>
                <p class="button col-md-2 col-xs-3"
                   ng-if="institution.mentors.length > 0">
                    <a class="btn btn-primary btn-md btn-block"
                       data-toggle="modal"
                       data-target="#edit"
                       ng-click="mentors.updateModalData(institution)">
                       Uredi
                    </a>
                </p>
             </div>
             <div class="row">
                <div class="col-md-2">
                    <strong>OIB:</strong>
                    <p ng-bind="::institution.oib"></p>
                </div>
                <div class="col-md-2">
                    <strong>Regionalni centar:</strong>
                    <p ng-bind="institution.isRegionalCenter ? 'DA' : 'NE' + (institution.regionalCenterName ? ' (' + institution.regionalCenterName + ')' : '')"></p>
                </div>
             </div>
             <div class="spacer-20"></div>
             <div class="row">
                 <div class="col-md-2"
                      ng-repeat="mentor in institution.mentors">
                      <strong class="row-item-header" 
                              ng-bind="mentor.name">
                      </strong>
                      <p ng-bind="mentor.email"></p>
                      <p ng-bind="mentor.phone"></p>
                      <p ng-bind="mentor.ageGroup.displayName || '-'"></p>
                </div>
             </div>
        </div>
        <cml-pagination ng-if="mentors.page"
                        page="mentors.page"
                        total="mentors.data.length">
        </cml-pagination>
    </div>
    <!-- Modal -->
    <modal template-path="app/components/admin/mentors/modals/edit.html"></modal>
</div>