.btn-primary {
    background-color: $color-text-important;
    border-color: $color-text-important !important;

    &:hover,
    &:active,
    &:focus {
        background-color: rgba($color-text-important, 0.85) !important;
    }
}

.btn-default {
    color: #727272;
    background-color: #efefef;
}

input {
    z-index: 100;
}

.input-group-btn {
    button,
    button:hover,
    button:focus {
        color: #fff;
        background-color: $color-text-important;
        border-color: $color-text-important;
    }
}

.form-control {
    color: #949494;
}

.form-control:focus {
    color: #000;
    border-color: rgba(245, 124, 31, 0.75);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(245, 124, 31, 0.6);
    outline: 0;
}

// Dropdown-multiselect overrides

.dropdown-menu>li>a>span.glyphicon {
  float: right;
}

.dropdown-menu>li>a>span.glyphicon-remove {
  color: $color-text-primary;
}

.dropdown-menu>li>a>span.glyphicon-ok {
  color: $color-text-important;
  font-size: 12px;
  padding-top: 2px;
}

// .open>.dropdown-menu {
//   width: 250px;
// }

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
  outline: none;
}