a {
    outline: 0;
}

.btn-export-data,
.btn-support {
    span {
        float: left;
    }

    i {
        float: right;
    }
}

.disabled-row {
    background: #F3F3F3!important;
}

.round-title {
    background: #f57c1f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.physical-age-item {
    border: 1px solid #727272;;
    border-radius: 20px;
    margin: 5px 10px;
    padding: 5px 10px;
    color: #727272;
    float: left;
    cursor: pointer;

    &.active {
        background: #f57c1f;
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        border: none;
    }
}

.no-border {
    border-bottom: none!important;
    border-left: none!important;
    border-top: none!important;
    border-left: none!important;
}

.clickable {
    cursor: pointer;
}

form.ng-submitted {
  input.ng-invalid{
    border: solid $color-invalid-input 1px;
  }
}
