.borderless {
    border: 0;
}

.pointer {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
}

.text-upper {
    text-transform: uppercase;
}

.text-justify {
    text-align: justify;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.spacer-10 {
    margin-top: 10px !important;
}

.spacer-20 {
    margin-top: 20px !important;
}

.spacer-40 {
    margin-top: 40px !important;
}

.spacer-right-50 {
    margin-right: 50px !important;
}

.pa-0 {
    padding: 0 !important;
}

.pa-1 {
    padding: 1rem !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

i.icon-status {
    font-size: 18px;

    &.icon-status-ok {
        color: #74e452;
    }
}