$path-assets: 'assets/';

// Bootstrap collapse navbar breakpoint
$grid-float-breakpoint: 992px;

$color-text-primary: #959595 !default;
$color-text-important: #f57c1f !default;
$color-text-important-faded: rgba(#f57c1f, 0.5) !default;

$color-status-offline: #c5183d !default;
$color-status-online: #94e26a !default;
$color-invalid-input: #ff0000 !default;
$support-color-back: $color-text-important !default;

// Bootstrap icons
$icon-font-path: './assets/fonts/';

// Font awesome icons
$fa-font-path:   './assets/fonts';