<div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title" ng-bind="institutions.modal.name"></h1>
            </div>
            <div class="modal-body">
                <form name="intitutionsForm" class="row">
                    <div class="col-md-8">
                        <div class="form-group" ng-class="{'has-error': intitutionsForm.name.$invalid}">
                            <label>Naziv</label>
                            <input type="text" name="name" class="form-control" ng-model="::institutions.modal.name" required>
                        </div>
                        <div class="form-group" ng-class="{'has-error': intitutionsForm.address.$invalid}">
                            <label>Adresa ustanove</label>
                            <input type="text" name="address" class="form-control" ng-model="::institutions.modal.address" required>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8 form-group" ng-class="{'has-error': intitutionsForm.city.$invalid}">
                                    <label>Grad/Mjesto</label>
                                    <input type="text" name="city" class="form-control" ng-model="::institutions.modal.city" required>
                                </div>
                                <div class="col-md-4 form-group" ng-class="{'has-error': intitutionsForm.postalcode.$invalid}">
                                    <label>Poštanski broj</label>
                                    <input type="text" name="postalcode" class="form-control" ng-model="::institutions.modal.postcode" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-if="!institutions.modal.isRegionalCenter">
                            <label>Regionalni centar</label>
                            <div class="input-group">
                                <input type="text" 
                                       class="form-control"
                                       name="regionalCenterName"
                                       ng-model="::institutions.modal.regionalCenterName"
                                       readonly>
                                <div class="input-group-btn">
                                    <button type="button" 
                                            class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                            <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-repeat="regionalCenterName in institutions.regionalCenters">
                                            <a ng-bind="regionalCenterName"
                                               ng-click="institutions.modal.regionalCenterName = regionalCenterName">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': intitutionsForm.oib.$invalid}">
                            <label>OIB Ustanove</label>
                            <input type="text" name="oib" class="form-control" ng-model="::institutions.modal.oib" required>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="institutions.modal.user.authorized">
                                    <span>Verificiraj ustanovu (omogući pristup)</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="institutions.modal.isInterestedInOrganisation">
                                    <span>Zainteresiran za organizaciju fizickog kola</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="institutions.modal.isRegionalCenter">
                                    <span>Postavi za regionalni centar</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default borderless" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary borderless" data-dismiss="modal" ng-click="institutions.postData()" ng-disabled="intitutionsForm.$invalid">Spremi</button>
            </div>
        </div>
    </div>
</div>