<div class="mentors jumbotron">
    <div class="header">
        <h1>Mentori</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga" ng-model="userMentors.search.name">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row filter">
        <div class="filter-item"
             ng-repeat="filter in ::userMentors.filters"
             ng-class="{ active: userMentors.sortType === filter.key }"
             ng-click="reverse = userMentors.sortType === filter.key ? !reverse : false; userMentors.sortBy(filter.key, reverse)">
            <span ng-bind="::filter.name"></span>
            <i class="glyphicon glyphicon-chevron-{{reverse ? 'up' : 'down'}}"></i>
        </div>
    </div>
    <hr>
    <div class="body">
        <p class="button button-header">
            <a class="btn btn-primary btn-md btn-block"
               data-toggle="modal"
               data-target="#create-modal"
               ng-click="userMentors.updateModalData('create')">
                Dodaj mentora +
            </a>
        </p>
        <div class="row body-item"
             ng-repeat="mentor in userMentors.data | limitTo: userMentors.config.paginationItemsLimit : ((userMentors.page - 1) * userMentors.config.paginationItemsLimit) | filter: userMentors.search.name">
             <div class="row">
                  <h2 class="col-md-10 col-xs-9">
                      <span ng-bind="mentor.name"></span>
                  </h2>
                  <p class="button col-md-2 col-xs-3">
                     <a class="btn btn-primary btn-md btn-block"
                        data-toggle="modal"
                        data-target="#edit"
                        ng-click="userMentors.updateModalData('edit', mentor)">
                        Uredi
                     </a>
                  </p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <strong>Email:</strong>
                    <p ng-bind="mentor.email"></p>
                </div>
                <div class="col-md-2">
                    <strong>Telefon:</strong>
                    <p ng-bind="mentor.phone"></p>
                </div>
                <div class="col-md-2">
                    <strong>Dobna skupina:</strong>
                    <p ng-bind="::mentor.ageGroup.displayName"></p>
                </div>
            </div>
        </div>
        <cml-pagination 
            ng-if="userMentors.page"
            page="userMentors.page"
            total="userMentors.data.length">
        </cml-pagination>
    </div>
    <!--Modal Edit-->
    <modal template-path="app/components/user/mentors/modals/edit.html"></modal>
    <!--Modal Create-->
    <modal template-path="app/components/user/mentors/modals/create.html" id="create-modal"></modal>
</div>